
img{
  min-height: 150%;
}
.grid2{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows:  15% 45% 15% 13% 12%;
  width: 40vw;
  max-width: 400px;
  min-width: 260px;
  height: 88vh;

  &>*{
    align-self: center;
  justify-self: center;
  }
}

//$colorEl: #DFD3C3
///$coloBack: #F0ECE3
//$color3: #C7B198
//$colorFont: #A68DAD

$colorEl: #FAEEE7;
$coloBack: #325288;
$color3: #FAEEE7;
$colorFont: black;

body{
  //background-color: $coloBack;
width:  98vw;
display: inline-flex;
flex-direction: column;
  align-items: center;
  //background-image: linear-gradient(to top left , $color3, 70%, $colorFont);

}

fieldset{
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: inline-flex;
  flex-direction: column;
    align-items: center;
    border: 2px solid $colorFont;
    border-radius: 10px;
    height: 88vh;
    min-height: 5vh;
  background-color: $coloBack;
  box-shadow: 0 0 10px $coloBack;
   width: 80vw;

}

form{

  display: inline-flex;
  flex-direction: column;
  align-items: center;
height: 88vh;
font-size: 1.5rem;
&>*{
  margin: 1vh;
}


}

h1{
  margin:0;
  font-size: 8vh;
  padding-left: 5px;
  padding-right: 5px;

}
h4{
  text-align: center;
  font-size: 4vmin;

  font-weight: 300;
padding: 10px;
margin: 0;

max-width: 400px;
min-width: 260px;

}

@mixin buttonik($color){
  background-color:$color;
  color: $colorFont;
  font-weight: 900;
    border-radius: 10px;
  width: 80vw;
  max-width: 400px;
  min-width: 260px;
  font-size: 1rem;
  border: 2px solid $colorFont;
  box-sizing: border-box;
  padding: 0.3rem;
}

@mixin input(){
  color: $colorFont;
  text-align: center;
  font-weight: 300;
}

button{
    text-shadow: 0 0 10px $colorEl;
  @include buttonik($color3);
  &:hover{
    box-shadow: 0 0 10px $colorFont;



  }
}

input{
  @include input();
  max-width: 600px!important;
  &::placeholder{
    @include input();
  }
  @include buttonik($colorEl);
  font-size: 2rem!important;



}
